{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}About{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<p>The purpose of this application is to help you easily transcribe and store your thoughts, just like Kevin Hart. </p>

<p>Kevin Hart reveals his creative process of recording his thoughts throughout the day. At the end of the day, he reviews the transcripts generated. He describes this as a time-efficient way to collect ideas for his comedy, books and other creative pursuits.</p>

{% endblock content %}